.footer_img{
position: absolute;
width: 1440px;
height: 494px;
left: 0px;
top: 2020px;
}

.contact_text{

position: absolute;
left: 12px;
right: 48.12%;
top: 2129px;
bottom: 37.45%;

font-family: Poppins;
font-style: italic;
font-weight: 800;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.join_us{
    position: absolute;
left: 12px;
right: 48.12%;
top: 2379px;
bottom: 37.45%;

font-family: Poppins;
font-style: italic;
font-weight: 800;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;

}
.fb_span{
position: absolute;
left: 155px;
right: 36%;
top: 2430px;
bottom: 74.11%;
}

.twitter_span{
 
position: absolute;
left: 255px;
right: 36%;
top: 2430px;
bottom: 74.11%;   
}

.linkedIn_span{
    position: absolute;
    left: 355px;
    right: 36%;
    top: 2430px;
    bottom: 74.11%;  
}

.insta_span{
    position: absolute;
    left: 455px;
    right: 36%;
    top: 2430px;
    bottom: 74.11%;   
}

.contact_details_div{
    position: absolute;
width: 1440px;
height: 200px;
left: 0px;
top: 2573px;

background: #605E5E;
}

.contact_card{
position: absolute;
width: 594px;
height: 95px;
left: 154px;
top: 19px;

color: white;
}
.service_card{
    position: absolute;
    width: 594px;
    height: 275px;
    left: 904px;
    top: 19px;
    
    color: white;  
}