.heading_hero{
    position: absolute;
    width: 757px;
    height: 58px;
    left: 283px;
    top: 175px;

    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 49px;
    line-height: 75px;
    text-align: center;

    color: #000000;

    /* border: 1px solid #F1DA0B; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.experience{
    position: absolute;
width: 354px;
height: 80px;
left: 516px;
top: 256px;

font-family: Roboto;
font-style: italic;
font-weight: 700;
font-size: 38px;
line-height: 56px;

color: #000000;
}


.heroSearchSpan {
    position: absolute;
    width: 15%;
    padding-top: 4px;
    text-align: center;
    color: black;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    left: 285px;
    top: 455px;
  }

  .search_hero{
    position: absolute;
    left: 365px;
    right: -5.97%;
    top: 68.59%;
    bottom: -0.8%;
    width: 700px;
    height: 60px;
    
    background: #FFFFFF;
    border-radius: 25px;
  }

  .herofooter{
    position: absolute;
    width: 1131px;
    height: 51px;
    left: 101px;
    top: 545px;
  }

  .first{
    position: absolute;
    left: 7.69%;
    right: 70.2%;
    top: 7.41%;
    bottom: 8.64%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    
    color: white;
  }

  .second{
    position: absolute;
    left: 47.39%;
    right: 31.3%;
    top: 4.94%;
    bottom: 11.11%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
  }

  .third{
    position: absolute;
    left: 78.69%;
    right: 0%;
    top: 7.41%;
    bottom: 8.64%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
  }